{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}</h1>
        </div>
    </div>


    <button type="button" class="btn btn-primary btn-lg btn-block">Reset Leaderboard</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody id="table_body">

           {{#list_user table}}
               {{name}} {{score}}
           {{/list_user}}

            </tbody>
        </table>
    </div>




</div>