{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}</h1>
        </div>
    </div>

    <!--<form action="/reset_leaderboard" method="post">-->
    <a href="#" data-toggle="modal" data-target="#resetConfirmation">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Leaderboard</button>
        </a>
    <!--</form>-->

    <div class="modal fade" id="resetConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Reset Leaderboard Confirmation</h4>
                </div>
                <div class="modal-body">
                    Would you like to reset the standings?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <form action="/reset_leaderboard" method="post">
                        <button class="btn btn-primary" type="submit">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Score</th>
                <th style="text-align: center">Remove</th>
            </tr>
            </thead>
            <tbody id="table_body">

           {{#list_user users}}
           {{/list_user}}

            </tbody>
        </table>
    </div>




</div>