<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!-- Navbar header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MuSA</a>
    </div>
    <!-- Navbar links -->
    <ul class="nav navbar-top-links navbar-right">
        <!--<li>-->
            <!--<a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>-->
        <!--</li>-->
        <li>
            <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>

    <!-- Sidebar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
            <li>
                    <a href="/museum"><i class="fa fa-institution fa-fw"></i> Museum</a>
                </li>
                <li>
                    <a href="/exhibitions"><i class="fa fa-image fa-fw"></i> Exhibitions</a>
                </li>
                <li>
                    <a href="/rooms"><i class=" fa fa-building-o fa-fw"></i> Rooms</a>
                </li>
                <li>
                    <a href="/artifacts"><i class="fa fa-qrcode fa-fw"></i> Objects</a>
                </li>
                <li>
                    <a href="/news"><i class="fa fa-book fa-fw"></i> News</a>
                </li>
                <li>
                    <a href="/events"><i class="fa fa-book fa-fw"></i> Events</a>
                </li>
                <!--<li>-->
                    <!--<a href="/notifications"><i class="fa fa-envelope fa-fw"></i> Notifications</a>-->
                <!--</li>-->
                <li>
                    <a href="/users"><i class="fa fa-users fa-fw"></i> Users</a>
                </li>
                <li>
                    <a href="/leaderboard"><i class="fa fa-trophy fa-fw"></i> Leaderboard</a>
                </li>
                <li>
                    <a href="/administrator"><i class="fa fa-cog fa-fw"></i> Administrator</a>
                </li>
                <li>
                    <a href="/feedback"><i class="fa fa-comments fa-fw"></i> Feedback</a>
                </li>
                <!--<li>-->
                    <!--<a href="/database"><i class="fa fa-desktop fa-fw"></i> Database</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>