{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}</h1>
        </div>
    </div>

    <div class="col-lg-8">
        <form role="form" action="/administrator" method="post" id="new_admin">
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" name="firstName" required="true">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" name="lastName" required="true">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="email" required="true">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input class="form-control" name="phone" required="true">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" id="password" required="true">
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <input class="form-control" type="password"  name="repeat" id="repeat" required="true">
            </div>

            <button type="submit" class="btn btn-default" id="admin_submit">Submit</button>
        </form>
    </div>

</div>